Another mechanism for signaling support - the TLS approach

TLS does this by including in the client hello a list that specifies what signature algorithms it understands (and TLS 1.3 includes which signature algorithms it can handle within the certificate) - see section 4.2.3 of RFC 8446.

One alternative would be to include a notify that specifies analogous information in the IKE_INIT messages...
