ASN.1 objects in the draft

RFC 7427 included Appendixes that list common AlgorithmIdentifier objects with their binary representation. The reason for this is that RFC 7427 allows impementations to do simple memcmp when parsing AlgorithmIdentifier field of the AUTH payload (Section 1: When an IKEv2 implementation
supports a fixed set of signature methods with commonly used parameters, it is acceptable for the implementation to treat the ASN.1 object as a binary blob that can be compared against the fixed set of known values.). 

If implementers has choose this simple approach, they will have to guess what binary representations have AlgorithmIdentifiers referenced in the draft. We should assume that many IKEv2 implementers are not experts in ASN.1 and this is the task that they may do wrong. I think that we should add similar Appendix and list there mentioned AlgorithmIdentifiers with their binary representation to help implementers (as RFC 7427, RFC 8420, RFC 9385 did).